.navbar {
  background-color: #547A82; 
}

#navbarHeader {
  background-color: #547A82;
}

#icon {
  color: white;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url(background.jpg);
  background-size: cover;
  background-position-y: 45%;
}

.jumbotron-heading {
  font-weight: 600 !important;
  text-shadow: 3px 3px #5A5050 !important;
}

#headingtext {
  left: 50px;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.lead {
  font-weight: 400 !important;
  text-shadow: 2px 2px #5A5050 !important;
  font-size: 25px !important;
}

#resume {
  text-shadow: 1px 1px #5A5050;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#back{
  color: #3EACA8 !important;
}